name: CI in class
#needs to be on pull request 
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.9", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Install Python, pipenv and Pipfile packages
        uses: kojoru/prepare-pipenv@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Debug Python Path
        run: python -c "import sys; print('PYTHONPATH:', sys.path)"
      - name: Turn on 'editable' mode
        run: |
          pipenv install -e .
      - name: Test with pytest
        run: |
          pipenv install pytest
          pipenv --venv
          pipenv run python -m pytest



    #prof said technically htis part isn't necessary in class 
  #deliver:
  #  needs: [build]
  #  runs-on: ubuntu-latest
  #  timeout-minutes: 5
  #  steps:
  #    - uses: actions/checkout@v4
  #    - name: Install Python, pipenv and Pipfile packages
  #      uses: kojoru/prepare-pipenv@v1
  #    - name: Build package
  #      run: |
  #        pipenv install build
  #        pipenv run python -m build .
  #    - name: Publish to PyPI test server
  #      uses: pypa/gh-action-pypi-publish@release/v1
  #      with:
  #        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
  #        repository-url: https://test.pypi.org/legacy/